﻿@model Ships.ViewModels.GameViewModel

@{
    ViewBag.Title = "Game";
}

@if (Model.GameFinished)
{
    <h2 class="won">@Model.CurrentPlayerName has won!</h2>
}
else
{
    <h2>Ships @Model.CurrentPlayerName</h2>

    <table class="table table-bordered">
        <tr>
            <th></th>
            @for (int i = 1; i <= 5; i++)
            {
                <th>@i</th>
            }
        </tr>
        @for (var i = 1; i <= 5; i++)
        {
            <tr>
                <td><b>@i</b></td>
                @for (int j = 1; j <= 5; j++)
                {
                    <td>
                        @if (Model.currentPlayerProgress.Any(x => x.PosX == j && x.PosY == i))
                        {
                            var shotResult = Model.currentPlayerProgress.FirstOrDefault(x => x.PosX == j && x.PosY == i).ShotResult;

                            if (shotResult == 1)
                            {
                                <span style="color:red">x</span>
                                continue;
                            }
                        }

                        <span>o</span>
                    </td>
                }
            </tr>
        }
    </table>

    using (Html.BeginForm("PerformShot", "Game", FormMethod.Post))
    {
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(x => x.currentShotX)
                @Html.TextBoxFor(x => x.currentShotX, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.currentShotX, null, new { @class = "val-error" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.currentShotY)
                @Html.TextBoxFor(x => x.currentShotY, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.currentShotY, null, new { @class = "val-error" })
            </div>

            <input type="hidden" name="currentGameId" value="@Model.CurrentGameId" />
            <input type="hidden" name="currentPlayerId" value="@Model.CurrentPlayerId" />
            <input type="hidden" name="opponentPlayerId" value="@Model.OpponentPlayerId" />
            <input type="hidden" name="currentPlayerName" value="@Model.CurrentPlayerName" />
            <input type="hidden" name="opponentPlayerName" value="@Model.OpponentPlayerName" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Go!</button>
            </div>
        </div>
    }
}




