﻿@model Ships.ViewModels.GameViewModel

@{
    ViewBag.Title = "Begin Game";
}
<div class="row">
    <h2 class="text-info text-center">Ships</h2>
    <h3>Begin Game</h3>
    <p class="text-success">Set players name and press start</p>
    @using (Html.BeginForm("BeginGame", "Game", FormMethod.Post))
    {

        <div class="form-group">
            @Html.LabelFor(x => x.FirstPlayerName)
            @Html.TextBoxFor(x => x.FirstPlayerName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.FirstPlayerName, null, new { @class = "val-error" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.SecondPlayerName)
            @Html.TextBoxFor(x => x.SecondPlayerName, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SecondPlayerName, null, new { @class = "val-error" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Start</button>
        </div>
    }
</div>